<h2 mat-dialog-title >Registro de Estudiante</h2>
<mat-dialog-content>
    <form [formGroup]="registroForm" (submit)="onSubmit()">
        
        <mat-form-field class="form-field-row">
            <mat-label>Tipo de Identificación</mat-label>
            <mat-select formControlName="tipoIdentificacion">
                <mat-option *ngFor="let tipo of tiposIdentificacion" [value]="tipo.value">
                    {{tipo.viewValue}}
                </mat-option>                
            </mat-select>
            <mat-error *ngIf="registroForm.controls['tipoIdentificacion'].errors?.['required']">El tipo de identificación es requerido</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Identificación</mat-label>
            <input matInput formControlName="numeroIdentificacion" placeholder="Número Identificación">
            <mat-error *ngIf="registroForm.controls['numeroIdentificacion'].errors?.['required']">La identificación es requerida</mat-error>
            <mat-error *ngIf="registroForm.controls['numeroIdentificacion'].errors?.['minlength']">Debe tener al menos 6 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['numeroIdentificacion'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Nombres</mat-label>
            <input matInput formControlName="nombres" placeholder="Nombres">
            <mat-error *ngIf="registroForm.controls['nombres'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['nombres'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['nombres'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['nombres'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Apellidos</mat-label>
            <input matInput formControlName="apellidos" placeholder="Apellidos">
            <mat-error *ngIf="registroForm.controls['apellidos'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['apellidos'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['apellidos'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['apellidos'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Celular</mat-label>
            <input matInput formControlName="celular" placeholder="Celular">
            <mat-error *ngIf="registroForm.controls['celular'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['celular'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['celular'].errors?.['maxlength']">Debe tener menos de 13 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['celular'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" placeholder="Correo">
            <mat-error *ngIf="registroForm.controls['correo'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['correo'].errors?.['email']">Email no valido</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>LinkedIn</mat-label>
            <input matInput formControlName="linkedin" placeholder="LinkedIn">
            <mat-error *ngIf="registroForm.controls['linkedin'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['linkedin'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['linkedin'].errors?.['maxlength']">Debe tener menos de 100 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['linkedin'].errors?.['pattern']">URL no valida</mat-error>
        </mat-form-field>

        <mat-form-field class="form-field-row">
            <mat-label>Github</mat-label>
            <input matInput formControlName="github" placeholder="Github">
            <mat-error *ngIf="registroForm.controls['github'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registroForm.controls['github'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['github'].errors?.['maxlength']">Debe tener menos de 100 caracteres</mat-error>
            <mat-error *ngIf="registroForm.controls['github'].errors?.['pattern']">URL no valida</mat-error>
        </mat-form-field>

        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>



