<div class="div_botones">
    <button mat-raised-button color="primary" (click)="abrirDialogoRegistro()">Registrar Estudiante</button>
</div>

<div class="div_tabla">
    <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_nombres}} </td>
        </ng-container>

        <ng-container matColumnDef="apellidos">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_apellidos}} </td>
        </ng-container>

        <ng-container matColumnDef="celular">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Celular </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_celular}} </td>
        </ng-container>

        <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_correo}} </td>
        </ng-container>

        <ng-container matColumnDef="linkedin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> LinkedIn </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_linkedin}} </td>
        </ng-container>

        <ng-container matColumnDef="github">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Github </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_github}} </td>
        </ng-container>

        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_estado}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaCreacion">
            <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Fecha en la que se creo el estudiante"> Fecha Creación </th>
            <td mat-cell *matCellDef="let estudiante"> {{estudiante.estudiante_fechaCreacion}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let estudiante">
                <button mat-icon-button matTooltip="Ver estudiante" (click)="verEstudiante(estudiante.estudiante_id)">
                    <mat-icon fontIcon="visibility" style="color: blue;"></mat-icon>
                </button>
                <button mat-icon-button matTooltip="Editar estudiante" (click)="abrirDialogoEditar(estudiante.estudiante_id)">
                    <mat-icon fontIcon="edit" style="color: chocolate;"></mat-icon>
                </button>
                <button mat-icon-button matTooltip="Inhabilitar estudiante" (click)="inhabilitarEstudiante(estudiante.estudiante_id)">
                    <mat-icon fontIcon="person_remove" style="color: red"></mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]"
                    showFirstLastButtons>
    </mat-paginator>
</div>
