mat-card{
    width: 400px;
    margin: 0 auto;
}

.login-form{
    display: flex;
    flex-direction: column;
}

.login-form-field{
    margin-bottom: 16px;
}

.login-links{
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.login-link{
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
    text-align: center;
}