<mat-card>
    <mat-card-header>
        <mat-card-title>Olvide mi contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="registro-form">            
            <mat-form-field class="login-form-field">
                <mat-label>Email</mat-label>
                <input matInput type="email" name="email" placeholder="Email">
            </mat-form-field>            
            <button mat-raised-button color="primary">Enviar</button>
            <button mat-raised-button color="warn" routerLink="/login">Volver</button>
        </form>
    </mat-card-content>
</mat-card>