.curso-info{
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.curso-info h2{
    color: #333;
}

.curso-info p{
    color: #666;
    margin-bottom: 10px;
}